<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--                xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->


<head th:include="fragments.html :: header">

    <title id="pageTitle">Blog Home</title>

</head>

<script type="text/javascript" th:src="@{/resources/js/delete-post.js}"></script>

<body>

<!-- Navigation -->
<nav    th:insert="fragments.html :: navigation"
        class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">
                <span th:text="${title}"></span>
                <small th:text="${subtitle}"></small>
            </h1>
            <!-- Blog Posts -->

            <div th:each="post: ${postList}" th:id="'post-' + ${post.postId}" class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title" th:text="${post.title}"></h2>
                    <p class="card-text" th:text="${post.content}"></p>
                    <a th:href="@{/post/{postId}(postId = ${post.postId})}" class="btn btn-primary">View</a>
                    <a  th:if="${#authentication.name == post.user.username}"
                        th:href="@{/post/{postId}/edit(postId = ${post.postId})}"
                        class="btn btn-secondary">Edit</a>
                    <a th:if="${#authentication.name == post.user.username or #authorization.expression('hasRole(''ADMIN'')')}"
                       th:onclick="'deletePost(\'' + ${post.postId} + '\');'"
                       class="btn btn-danger">Delete</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on <span
                        th:text="${#temporals.format(post.dtCreated, 'dd/MM/yyyy HH:mm')}"></span>
                    <a th:href="@{/user/{username}(username = ${post.user.username})}"
                       th:text="${post.user.username}"></a>
                </div>
            </div>


        </div>

        <!-- Sidebar Widgets Column -->
        <div th:insert="fragments.html :: widget" class="col-md-4">
        </div>


    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer th:insert="fragments.html :: footer"></footer>

</body>

</html>
