<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>

<h2>HTML Table</h2>

<table>
    <tr>
        <th>Post ID</th>
        <th>Title</th>
        <th>Content</th>
    </tr>
    <tr th:each="post: ${postList}">
        <td th:text="${post.postId}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.content}"></td>
    </tr>
</table>

</body>
</html>